<h1>Welcome to SeatYourself</h1>

<h2>Make your reservation</h2>

<p>
<h3>List of Restaurants</h3>

<ul>
	<li><a href="restaurantpage.html">The Saucy Noodle</a></li>
	<li><a href="restaurant/2">The Meaty Burger</a></li>
</ul>
</p>


<p>
<a href="/log in">Log in</a> or <a href="/signup">Sign up</a>
</p>
